# Intro Pandas 
### Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language. 

### First we look at Series

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# a Series is like an array, but it's indexed
obj = Series([1,2,3,4,5])
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# print just the values and indexes
print(obj.values)
print(obj.index)

[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)

In [4]:
# create a Series for WW2 casualties
ww2_cas = Series([87000000, 43000000, 3000000, 2100000, 400000], index = ['USSR','Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       87000000
Germany    43000000
China       3000000
Japan       2100000
USA          400000
dtype: int64

In [5]:
ww2_cas['Germany']

43000000

In [6]:
# Check wich coutries had casualties greater than 4 mill
ww2_cas[ww2_cas > 4000000]

USSR       87000000
Germany    43000000
dtype: int64

In [7]:
# We can tread the Series as an ordered dictionary
'USSR' in ww2_cas

True

In [8]:
# we can create a dictionary from this
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 87000000,
 'Germany': 43000000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [9]:
# we can feed dictionaries into series
ww2_series = Series(ww2_dict)
ww2_series

USSR       87000000
Germany    43000000
China       3000000
Japan       2100000
USA          400000
dtype: int64

In [10]:
# index a Series with a list, Argentina is not in the Series so it will give it NaN as a value
countries = ['China', 'Germany', 'Japan', 'Argentina']
obj2 = Series(ww2_dict, index = countries)
obj2

China         3000000.0
Germany      43000000.0
Japan         2100000.0
Argentina           NaN
dtype: float64

In [11]:
# isnull -> True if null, notnull -> True if notnull
pd.isnull(obj2)

China        False
Germany      False
Japan        False
Argentina     True
dtype: bool

In [12]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
Argentina    False
dtype: bool

In [13]:
ww2_series

USSR       87000000
Germany    43000000
China       3000000
Japan       2100000
USA          400000
dtype: int64

In [14]:
# add together two series
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany      86000000.0
Japan         4200000.0
USA                 NaN
USSR                NaN
dtype: float64

In [15]:
# name the series
obj2.name = "World War 2 Casualties"
obj2

China         3000000.0
Germany      43000000.0
Japan         2100000.0
Argentina           NaN
Name: World War 2 Casualties, dtype: float64

In [16]:
# name the index
obj2.index.name = "Coutries"
obj2

Coutries
China         3000000.0
Germany      43000000.0
Japan         2100000.0
Argentina           NaN
Name: World War 2 Casualties, dtype: float64

## Intro to DataFrames

In [17]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'

webbrowser.open(website)
# copy table to clipboard

True

In [18]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West

In [19]:
# read all data from CSV
nfl_data = pd.read_csv('nfl_data.csv', sep=';') 
nfl_data

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
11,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West
15,16,Los Angeles Rams,"1,167",577,569,21,0.503,1937,NFC West
16,17,Washington Redskins,"1,234",603,603,28,0.500,1932,NFC East
17,18,Los Angeles Chargers,916,452,453,11,0.499,1960,AFC West
18,19,Philadelphia Eagles,"1,22",586,608,26,0.491,1933,NFC East
19,20,Carolina Panthers,400,195,204,1,0.489,1995,NFC South
20,21,Cleveland Browns,986,475,500,11,0.487,1950,AFC North
21,22,Tennessee Titans,916,440,470,6,0.484,1960,AFC South
22,23,Buffalo Bills,916,425,483,8,0.468,1960,AFC East
23,24,New Orleans Saints,818,375,438,5,0.461,1967,NFC South
24,25,Detroit Lions,"1,265",562,670,33,0.457,1930,NFC North
25,26,Houston Texans,288,131,157,0,0.455,2002,AFC South
26,27,New York Jets,916,408,500,8,0.450,1960,AFC East
27,28,Cincinnati Bengals,804,359,441,4,0.449,1968,AFC North
28,29,Atlanta Falcons,832,365,461,6,0.448,1966,NFC South
29,30,Jacksonville Jaguars,400,176,224,0,0.440,1995,AFC South
30,31,Arizona Cardinals,"1,362",558,763,41,0.425,1920,NFC West
31,32,Tampa Bay Buccaneers,692,267,424,1,0.387,1976,NFC South

In [20]:
nfl_data2 = DataFrame(nfl_data, columns = ['Team', 'First NFL Season', 'Division'])
nfl_data2

                    Team  First NFL Season   Division
0         Dallas Cowboys              1960   NFC East
1      Green Bay Packers              1921  NFC North
2   New England Patriots              1960   AFC East
3          Chicago Bears              1920  NFC North
4       Baltimore Ravens              1996  AFC North
5         Miami Dolphins              1966   AFC East
6      Minnesota Vikings              1961  NFC North
7    San Francisco 49ers              1950   NFC West
8        New York Giants              1925   NFC East
9         Denver Broncos              1960   AFC West
10    Kansas City Chiefs              1960   AFC West
11   Pittsburgh Steelers              1933  AFC North
12    Indianapolis Colts              1953  AFC South
13     Las Vegas Raiders              1960   AFC West
14      Seattle Seahawks              1976   NFC West
15      Los Angeles Rams              1937   NFC West
16   Washington Redskins              1932   NFC East
17  Los Angeles Chargers              1960   AFC West
18   Philadelphia Eagles              1933   NFC East
19     Carolina Panthers              1995  NFC South
20      Cleveland Browns              1950  AFC North
21      Tennessee Titans              1960  AFC South
22         Buffalo Bills              1960   AFC East
23    New Orleans Saints              1967  NFC South
24         Detroit Lions              1930  NFC North
25        Houston Texans              2002  AFC South
26         New York Jets              1960   AFC East
27    Cincinnati Bengals              1968  AFC North
28       Atlanta Falcons              1966  NFC South
29  Jacksonville Jaguars              1995  AFC South
30     Arizona Cardinals              1920   NFC West
31  Tampa Bay Buccaneers              1976  NFC South

In [21]:
# save our data to a pickle file
nfl_data.to_pickle("./nfl_data.pkl")

In [22]:
# read it to a new dataframe
nfl_frame = pd.read_pickle("./nfl_data.pkl")
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
11,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West
15,16,Los Angeles Rams,"1,167",577,569,21,0.503,1937,NFC West
16,17,Washington Redskins,"1,234",603,603,28,0.500,1932,NFC East
17,18,Los Angeles Chargers,916,452,453,11,0.499,1960,AFC West
18,19,Philadelphia Eagles,"1,22",586,608,26,0.491,1933,NFC East
19,20,Carolina Panthers,400,195,204,1,0.489,1995,NFC South
20,21,Cleveland Browns,986,475,500,11,0.487,1950,AFC North
21,22,Tennessee Titans,916,440,470,6,0.484,1960,AFC South
22,23,Buffalo Bills,916,425,483,8,0.468,1960,AFC East
23,24,New Orleans Saints,818,375,438,5,0.461,1967,NFC South
24,25,Detroit Lions,"1,265",562,670,33,0.457,1930,NFC North
25,26,Houston Texans,288,131,157,0,0.455,2002,AFC South
26,27,New York Jets,916,408,500,8,0.450,1960,AFC East
27,28,Cincinnati Bengals,804,359,441,4,0.449,1968,AFC North
28,29,Atlanta Falcons,832,365,461,6,0.448,1966,NFC South
29,30,Jacksonville Jaguars,400,176,224,0,0.440,1995,AFC South
30,31,Arizona Cardinals,"1,362",558,763,41,0.425,1920,NFC West
31,32,Tampa Bay Buccaneers,692,267,424,1,0.387,1976,NFC South

In [23]:
# call a column that does not exist in the dataframe
# Stadium is not in the dataframe, pandas will create a column with this name 

DataFrame(nfl_frame, columns = ['Team', 'GP', 'Won', 'Lost', 'Stadium']).head()

                   Team     GP  Won  Lost  Stadium
0        Dallas Cowboys    914  520   388      NaN
1     Green Bay Packers  1,368  756   574      NaN
2  New England Patriots    916  512   395      NaN
3         Chicago Bears  1,402  769   591      NaN
4      Baltimore Ravens    384  214   169      NaN

In [24]:
# call columns by its name
nfl_frame.Team.head()

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
Name: Team, dtype: object

In [25]:
# call rows by its index -> loc or iloc
nfl_frame.iloc[3]

Rank                            4
Team                Chicago Bears
GP                          1,402
Won                           769
Lost                          591
Tied                           42
Pct.                        0.563
First NFL Season             1920
Division                NFC North
Name: 3, dtype: object

In [26]:
# add new column, add numbers as values
nfl_frame['Stadium'] = np.arange(len(nfl_frame['Team']))
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,0
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,2
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,3
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,4
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,5
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,6
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,7
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,8
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,9
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West,10
11,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North,11
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South,12
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West,13
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West,14
15,16,Los Angeles Rams,"1,167",577,569,21,0.503,1937,NFC West,15
16,17,Washington Redskins,"1,234",603,603,28,0.500,1932,NFC East,16
17,18,Los Angeles Chargers,916,452,453,11,0.499,1960,AFC West,17
18,19,Philadelphia Eagles,"1,22",586,608,26,0.491,1933,NFC East,18
19,20,Carolina Panthers,400,195,204,1,0.489,1995,NFC South,19
20,21,Cleveland Browns,986,475,500,11,0.487,1950,AFC North,20
21,22,Tennessee Titans,916,440,470,6,0.484,1960,AFC South,21
22,23,Buffalo Bills,916,425,483,8,0.468,1960,AFC East,22
23,24,New Orleans Saints,818,375,438,5,0.461,1967,NFC South,23
24,25,Detroit Lions,"1,265",562,670,33,0.457,1930,NFC North,24
25,26,Houston Texans,288,131,157,0,0.455,2002,AFC South,25
26,27,New York Jets,916,408,500,8,0.450,1960,AFC East,26
27,28,Cincinnati Bengals,804,359,441,4,0.449,1968,AFC North,27
28,29,Atlanta Falcons,832,365,461,6,0.448,1966,NFC South,28
29,30,Jacksonville Jaguars,400,176,224,0,0.440,1995,AFC South,29
30,31,Arizona Cardinals,"1,362",558,763,41,0.425,1920,NFC West,30
31,32,Tampa Bay Buccaneers,692,267,424,1,0.387,1976,NFC South,31

In [27]:
# delete columns !!
del nfl_frame['Stadium']
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [28]:
# convert equal lenght list in a dictionary to a DataFrame
age_data = {'People':['Peter', 'Bob', 'Marduk'], 'Age':[34, 43, 43]}
age_df = DataFrame(age_data)
age_df.head()

   People  Age
0   Peter   34
1     Bob   43
2  Marduk   43