In [1]:
import pandas as pd
import numpy as np

In [2]:
my_series = pd.Series([10, 20, 30, 40], index = ['A', 'B', 'C', 'D'])
my_series

A    10
B    20
C    30
D    40
dtype: int64

In [3]:
my_index = my_series.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [4]:
# change index value
my_index[0]

'A'

In [5]:
my_index[0] = 'XX'
my_index[0]

TypeError: Index does not support mutable operations

In [6]:
# -> indexes are non-mutable, so this makes DataFrames and Series are really stable
# we can re-index with a trick
my_series2 = my_series.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
my_series2

A    10.0
B    20.0
C    30.0
D    40.0
E     NaN
F     NaN
dtype: float64

In [7]:
my_series2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value = 0)

A    10.0
B    20.0
C    30.0
D    40.0
E     NaN
F     NaN
G     0.0
dtype: float64

In [8]:
my_series3 = pd.Series(['Spain', 'Italy', 'France'], index = [0, 5, 10])
my_series3

0      Spain
5      Italy
10    France
dtype: object

In [9]:
ranger = range(15)
print(ranger)

range(0, 15)

In [10]:
my_series3.reindex(ranger, method = 'ffill') # forward fill method

0      Spain
1      Spain
2      Spain
3      Spain
4      Spain
5      Italy
6      Italy
7      Italy
8      Italy
9      Italy
10    France
11    France
12    France
13    France
14    France
dtype: object

In [11]:
# create dataframe with random numbers, skip an index, then reindex it
from numpy.random import randn

dframe = pd.DataFrame(randn(25).reshape(5,5), index = ['A', 'B', 'D', 'E', 'F'], 
                      columns = ['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.181905 -0.419506 -0.009784  1.421419 -0.676597
B  0.663260 -0.745529  0.221714 -0.510091 -1.316336
D  0.166164 -0.863210 -1.436294  0.386031  1.147383
E -0.719420  0.693872 -0.133223  0.571059  0.340869
F  0.309695  0.813490  0.667492 -0.718684 -0.734140

In [12]:
# now reindex it with row C
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A -0.181905 -0.419506 -0.009784  1.421419 -0.676597
B  0.663260 -0.745529  0.221714 -0.510091 -1.316336
C       NaN       NaN       NaN       NaN       NaN
D  0.166164 -0.863210 -1.436294  0.386031  1.147383
E -0.719420  0.693872 -0.133223  0.571059  0.340869
F  0.309695  0.813490  0.667492 -0.718684 -0.734140

In [13]:
# add new column
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.181905 -0.419506 -0.009784  1.421419 -0.676597   NaN
B  0.663260 -0.745529  0.221714 -0.510091 -1.316336   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.166164 -0.863210 -1.436294  0.386031  1.147383   NaN
E -0.719420  0.693872 -0.133223  0.571059  0.340869   NaN
F  0.309695  0.813490  0.667492 -0.718684 -0.734140   NaN